.card-header {
    background-color: rgb(211, 97, 21);
    width: 100%;
    color: white;
}

.jumbotron {
    color:white;
    background-color: rgb(30, 119, 42);
    opacity: 0.9;
}

body {
    background-image: linear-gradient(rgb(83, 1, 1), rgb(44, 44, 2));;
}



.container {
    opacity: 0.9;
}